* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: "Times New Roman", Times, serif;
}
body {
  max-width: 1300px;
}
/* -----------------------------------HEADER----------------------------------- */
.header {
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("pexels-andrea-piacquadio-3756679.jpg");
  background-size: cover;
  color: white;
  padding: 0 3rem 5rem;
  min-height: 100vh;
}
.heroSection {
  margin-top: 5rem;
  padding-left: 2rem;
  width: 55%;
  font-size: large;
}
.heroSection > h4 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}
.heroSection p {
  font-size: 1.3rem;
}
.navbar {
  /* color: #222; */
  display: flex;
  padding: 1rem 1rem;
}
.logo > h1 {
  color: rgb(65, 176, 65);
  font-size: 2rem;
}

.nav {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  /* position: relative; */
}
a {
  padding: 1.5rem 0.5rem 0.4rem;
  color: white;
  text-decoration: none;
  margin: 0 1rem 1rem 0;
}
.hover:hover {
  border-bottom: 2px solid white;
}
.btnNav {
  color: white;
  background-color: rgb(39, 143, 235);
  border: none;
  border-radius: 5px;
  height: 2rem;
  /* width: 5rem; */
  margin: 0 0.2rem;
  padding: 0 1rem;
}
button:hover {
  box-shadow: 2px 2px 2px gray;
  cursor: pointer;
}
select {
  border: none;
  border-left: 1px solid gray;
  margin-left: 0.5rem;
}
/*------------------------------ HERO SECTION FORM--------------------------------- */
.formRegister {
  background-color: white;
  color: #000;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 2;
  transform: translate(-18%, -10%);
}
.formLogin {
  background-color: white;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  z-index: 2;
  /* box-shadow: 2px 3px 3px 4px 5px red; */
}
.sab {
  display: none;
}
.flex {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.loginText {
  font-size: 0.8rem;
}
.loginHeading {
  margin-bottom: 0.8rem;
}
.input {
  padding: 0.5rem;
  border: 1px solid rgb(225, 221, 221);
  border-radius: 5px;
  margin: 1rem 0;
}
.regHeading {
  font-weight: bold;
  margin-bottom: 1rem;
}
.icon {
  font-size: 2rem;
}
.dimP {
  color: gray;
}
.workStatus {
  display: flex;
  margin: 1rem 0;
}
.experience {
  border: 1px solid rgb(225, 221, 221);
  margin-right: 1rem;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 50rem;
}
.fresher {
  border: 1px solid rgb(225, 221, 221);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 50rem;
}
.expImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fresherImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bttnResume {
  background-color: orangered;
  padding: 5px;
  color: white;
  width: 10rem;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 0;
  border: none;
}
.bttnRegister {
  background-color: rgb(121, 174, 220);
  padding: 5px;
  color: white;
  width: 8rem;
  border-radius: 20px;
  font-weight: bold;
  margin: 1rem 0;
  border: none;
}
.loginBtnHolder {
  display: flex;
  justify-content: center;
}
.bttnLogin {
  background-color: rgb(121, 174, 220);
  padding: 5px;
  color: white;
  width: 8rem;
  border-radius: 20px;
  font-weight: bold;
  margin: 1rem 0;
  border: none;
}
.inputResume {
  border: none;
}
.resume {
  border: 1px solid rgb(225, 221, 221);
  border-radius: 20px;
}
.checkBox {
  display: flex;
  margin: 1rem 0;
}
.signIn {
  display: flex;
  /* border: 1px solid grey; */
  border-radius: 20px;
  padding: 0.5rem;
  box-shadow: 0 5px 5px gray;
}
.or {
  text-align: center;
  margin: 1rem 0;
}
.otpText {
  text-align: center;
  color: rgb(39, 143, 235);
  margin-top: 0.5rem;
}
.googleLogo {
  height: 1rem;
  width: 1rem;
  margin-right: 3rem;
}
.navbar2 {
  padding: 2rem;
  display: none;
  color: white;
  /* background-color: white; */
}
.overlay {
  height: 160rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.785);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.closeBtnn {
  display: flex;
  justify-content: end;
}
/* ------------------------EXTRA I GUESS-----------= */
.hidden {
  display: none;
}

.fa-solid {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(39, 143, 235);
}

.subscribe {
  padding: 3rem;
  background-color: rgb(39, 143, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
/* ------------------------------2ND SECTION----------------------------------------- */
.career {
  display: flex;
  padding: 2rem 4rem;
}
.imagePortion {
  height: 100vh;
  width: 50%;
  background-image: url("pexels-ovan-57690.jpg");
  background-size: cover;
}
.imagePortion > img {
  object-fit: cover;
}
.textPortion {
  width: 50%;
  padding: 6rem 4rem;
}
.textPortion h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.textPortion h6 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
/* -------------------3RD SECTION--------------------------- */
.company {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;

  text-align: center;
}
.companyContent {
  width: 55%;
}
.companyContent h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.companyContent p {
  font-size: 1.2rem;
  color: rgb(96, 96, 96);
}
.companyLogo {
  min-height: 15rem;
  padding: 3.5rem 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
.logo {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mailchimps img {
  width: 12.5rem;
  background-size: cover;
}
.paypal img {
  width: 8rem;
  background-size: cover;
}
.stripe img {
  width: 6rem;
  background-size: cover;
}
.visa img {
  width: 5rem;
  background-size: cover;
  padding-top: 0.9rem;
}
/* ----------------------------------FOOTER--------------------------------------- */
.footer {
  background-color: rgb(24, 22, 22);
  color: white;
  padding-bottom: 3rem;
}
.upperFooter {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
.socialMedia {
  padding: 2rem 0;
}
.socialMediaIcon {
  margin-right: 1rem;
}
.bottom {
  width: 25%;
}
.bottom h4 {
  font-size: 1.5rem;
}
.bottom p {
  margin-top: 1rem;
}
.copyRight {
  text-align: center;
  padding-top: 3rem;
}
.copyright {
  font-size: 0.8rem;
}
.copyRight p {
  font-size: 1rem;
}
/* ------------------------------------------------------------------------ */
@media (max-width: 980px) {
  .navbar {
    visibility: hidden;
  }
  .navbar2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 63rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .career {
    display: flex;
    flex-direction: column;
  }
  .imagePortion {
    width: 100%;
  }
  .textPortion {
    width: 100%;
  }
  body {
    width: 63rem;
  }
  .companyLogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 765px) {
  .companyLogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar2 {
    width: 60rem;
  }
  .career {
    display: flex;
    flex-direction: column;
  }

  .textPortion {
    width: 100%;
  }
  .imagePortion > img {
    object-fit: cover;
  }
}
@media (max-width: 450px) {
  .companyLogo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .bottom {
    width: 50%;
    padding: 2rem 0.5rem;
  }
}
